/*  your css code here. If applicable */
header{
	background-color:#011e29;
	text-align:center;
}
h1{
	color:white;
}
body{
	background-color:#f5f5f5;
}
.latest-news-section{
	display:inline-block;
	background-color: white;
	  padding: 20px;
	border-radius:20px;
	text-align:center;
}
.hero-section{
	display:inline-block;
	background-color: white;
	  padding: 20px;
	border-radius:20px;
	text-align:center;
}
.pictorial-news-section{
	display:inline-block;
	background-color: white;
	  padding: 20px;
	border-radius:20px;
	text-align:center;
}